{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>Hello {{ username }}! ✅</h1>
        </div>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('account_password') }}">Modify Account</a></li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>
{% endblock %}
