{% extends 'base.html.twig' %}

{% block title %}Modify password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Change password</h1>
        <a href="{{ path('account') }}">My account</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
